<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스프링 부트 테스트용 페이지</title>
</head>
<body>
    <h1>테스트용 페이지 입니다</h1>

    <h3>스프링 부트 프로젝트 실행 방법(서버 배포 방법)</h3>
    <pre>
        src/main/java 하위 패키지에
        000Application.java 파일이 프로젝트 생성 시 자동 생성

        해당 클래스에는 main 메서드가 존재 -> 실행 시 서버 배포
        -> 내장된 Tomcat 서버가 배포 시작(브라우저가 자동으로 실행되지 않음)
    </pre>

    <hr>

    <h3>프로젝트 구조</h3>

    <ol>
        <li>
            <a href="/example">정적 자원(js, css, image) 연결</a>
        </li>
    </ol>
    
</body>
</html>