<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>

  <th:block th:replace="~{common/common}"></th:block>
  <link rel="stylesheet" href="/css/member/signup-style.css">

</head>
<body>
  
  <main>
    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

  </main>
  <!-- 푸터 추가 -->
  <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>