<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>api 테스트용 페이지</h1>


    <input type="text" name="regNum" placeholder="중개사무소 등록번호 입력">  <br>
    regNo  11680-2019-00121 <br>
    <input type="text" name="dealerName" placeholder="대표공인중개사 이름 입력"> <br>
    한유림

    <button id="test">테스트</button>
    <div id="responseArea"></div>

</body>
<script src="/js/test.js"></script>

</html>