<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #BookList{
            border: 1px solid black;
            border-collapse: collapse;
            
        }
    </style>

</head>
<body>
    <h1>책 관리 프로그램</h1>

    <a href="/registBook.html"> 책 등록</a> <br><br>
    <a href="/registBook.html"> 책 검색, 수정, 삭제</a>

    <h3> 모든 책 조회 </h3>

    <form action="#" method="post">
        제목 : <input type="text" placeholder="책 제목을 입력해 주세요">
        <button>검색</button>
    </form>

    <table border="1" style="border-collapse: collapse;">
        <thead>
        <th>책 번호</th>
        <th>제목</th>
        <th>저자</th>
        <th>가격</th>
        <th>등록일</th>
        </thead>

        <tbody id="bookList">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tbody>

        </table>

    <script>
        const BookList = document.querySelector("#BookList")
    </script>
</body>
</html>