<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 책 검색, 수정, 삭제</h1>

    
      제목 : <input type="text" name="searchTitle" id="searchTitle"> 
      <button id="searchBookListBtn">검색</button>
    <br><br>

  <table border="1" style="border-collapse: collapse;" id="editBookList">
    <thead>
      <th>책 번호</th>
      <th>제목</th>
      <th>저자</th>
      <th>가격</th>
      <th>등록일</th>
      <th>수정버튼</th>
      <th>삭제버튼</th>
    </thead>

      <tbody id="bookList">

      </tbody>

		

    </table>
</body>
<script src="/js/main.js"></script>
</html>