<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 책 검색, 수정, 삭제</h1>

    <form action="/book/searchBookList" method="GET">
        제목 : <input type="text" name="searchTitle" id="searchBookList"> <button>검색</button>
    </form>
    <br><br>

  <table border="1" style="border-collapse: collapse;" id="editBookList">
    <thead>
      <th>책 번호</th>
      <th>제목</th>
      <th>저자</th>
      <th>가격</th>
      <th>등록일</th>
      <th>수정버튼</th>
      <th>삭제버튼</th>
    </thead>

    <tbody id="bookList">
      

		</tbody>

    <tr><button>수정</button></tr>
    <tr><button>삭제</button></tr>

		

    </table>
</body>
</html>