<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정적 자원 연결(js, cs, image)</title>
    <!-- 
        static 폴더를 기준으로 css 파일 경로를 작성
        제일 앞 "/" == static 폴더
     -->
     <link rel="stylesheet" href="/css/ex.css">
</head>
<body>
    <div class="container">
        <h1>정적 자원 연결(js, cs, image)</h1>

        <img src="/images/imgFolder1/1.PNG" >
        <img src="/images/imgFolder2/2.PNG" >
        <img src="/images/imgFolder3/캡처.PNG" >

        <button id="btn">JS연결 테스트</button>
    </div>


    
    <script src="/js/ex.js"></script>
</body>
</html>