<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.test.board.model.mapper.BoardMapper">


	  <select id="searchBoard" parameterType="String" >
         SELECT * 
    FROM TB_BOARD b
    JOIN TB_USER u ON b.USER_NO = u.USER_NO
    WHERE u.USER_ID LIKE '%' || #{searchMember} || '%'
    </select>

</mapper>
