<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.todo.model.mapper.TodoMapper"> 
<!-- namespace 속성 : Mapper 인터페이스 경로.인터페이스명 작성(필수)-->

	<!-- SQL 작성하는 파일 -->
	
	<!-- 아래 태그는 mapper.xml만들자 마자 삭제 -->
	<!--  <cache-ref namespace=""/> -->
 	
 	<!-- 
 		edu.kh.model.mapper.TodoMapper 인터페이스의
 		selectAll() 메서드와 연결
 		id와 메서드명이 같으면 연결됨!!!
 		selectAll() 메서드 호출 시 내부의 SQL 실행
 	 -->
 	 
 	 <!-- 
 	 	<select> 태그 속성
 	 	- id 속성 : 태그를 식별하는 값
 	 	(연결된  Mapper의 메서드명과 동일하게 작성해서 연결)
 	 	
 	 	- resultType : 조회 결과 한 줄(1행)을 저장하여 반환 할 변수/객체 자료형 지정
 	 	
 	 	  조회 결과가 여러 행이면 행 별로 변수/객체 자료형으로 저장 후 모아서 List로 반환
 	 	  (필드명 == 컬럼명인 경우 조회 결과가 자동으로 필드에 세팅)
 	 	  (필드명과 컬럼명이 같아지는 속성을 mybatis-config.xml에 작성함
 	 	   _표기 == 카멜표기로)
 	 	   
 	 	
 	 
 	  -->
 	<select id="selectAll" resultType="edu.kh.todo.model.dto.Todo">
 		SELECT TODO_NO, TODO_TITLE, COMPLETE,
			   TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI:SS')REG_DATE
		FROM TB_TODO
		ORDER BY TODO_NO
	 		
 	</select>
 	
 	<!-- 완료된 할 일 개수 조회 -->
 	<select id="getCompleteCount" resultType="_int">
 		SELECT COUNT(*)
		FROM TB_TODO 
		WHERE COMPLETE = 'Y'
 	</select>
 
</mapper>
